.carousel{
    width:100%;
    overflow:scroll;
    padding:30px;
    position: relative;
}

.carousel_container{
    white-space: nowrap;
    margin:70px 0px;
    padding-bottom:10px; 
}

.carousel-item{
    width:200px;
    height: 250px;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor:pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px,0,0)
}

.carousel_container:hover .carousel-item{
    opacity: 0.3;
}

.carousel_container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100% );
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding:10px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-flow: column;
    justify-content: flex-end;
    color:white;
}

.carousel-item__details:hover{
    opacity: 1;
}

.carousel-item__details p{
    margin:2px 0px;
}

.carousel-item__details--title{
    font-size: 12px;
}